[user]
  name = Martin Maillard
  email = self@martin-maillard.com

[github]
  user = martinmaillard

[color]
  ui = auto

[alias]
  aa = add --all
  amend = commit --amend
  b = branch
  ci = commit
  co = checkout
  dc = diff --cached
  di = diff
  h = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(blue)%an, %cr%Creset' --date=short --branches
  hh = "!f() { git h | head -$1;}; f"
  pom = push origin master
  s = status
  todo = grep --heading --line-number --break --ignore-case -e ' FIX ' -e ' TODO ' -e ' TODO: '
