[user]
  name = Martin Maillard
  email = git@martinmaillard.com

[github]
  user = martinmaillard

[core]
  editor = vim
  excludesfile = ~/.gitignore
  attributesfiles = ~/.gitattributes

[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX

[diff]
  compactionHeuristic = true

[diff-so-fancy]
  stripLeadingSymbols = false
  markEmptyLines = false

[stash]
  showPatch = true

[push]
  default = current

[color]
  ui = auto

[color "branch"]
  current = green
  local = yellow
  remote = magenta

[color "diff"]
  meta = cyan
  frag = magenta

[color "status"]
  untracked = cyan

[alias]
  aa = add --all
  ap = add -p
  amend = commit --amend
  b = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  dc = diff --cached
  di = diff
  h = log --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(blue)%an, %cr%C(reset)' --date=short --branches
  hh = "!f() { git h | head -$1;}; f"
  pom = push origin master
  s = status
  todo = grep --heading --line-number --break --ignore-case -e ' FIX ' -e ' TODO ' -e ' TODO:'
  please = push --force-with-lease

  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~
  shove = commit --amend --no-edit
  pupr = pull --prune

  branches = branch -a
  tags = tag
  stashes = stash list

  v = "!git tag -a v\"$1\" -m \"Version $1\" #"


[credential]
  helper = cache --timeout=1234600

[pull]
  ff = only

[init]
  defaultBranch = main

[merge]
   tool = vimdiff
[branch]
	sort = -committerdate
