"*":
  "atom-beautify":
    elm:
      beautify_on_save: true
    general:
      _analyticsUserId: "d736b417-cfa0-468c-bd49-9ed33dbd01b6"
      analytics: false
  "autoclose-html":
    makeNeverCloseSelfClosing: false
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/bin"
  "autocomplete-plus":
    confirmCompletion: "tab"
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-jscs"
      "elmjutsu"
      "vim-mode"
      "emmet"
    ]
    ignoredNames: [
      "*.pyc"
      "test/spec"
      "node_modules"
      "bower_components"
      "tmp"
      "deps"
      "_build"
      "venv"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-light-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles:
      eol: " "
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
    tabType: "soft"
    whitespace:
      removeTrailingWhitespace: true
  elmjutsu:
    cacheDirectory: "/var/folders/1k/l4tmxsss49z6hd536w9rsm140000gn/T/elmjutsu16335s2PCmEaj8GAs"
  emmet: {}
  "exception-reporting":
    userId: "ab3c3c25-2502-8368-f0de-578a9b904ff5"
  "keyboard-localization":
    useKeyboardLayout: "fr_CH"
  linter: {}
  "linter-elixirc":
    forceElixirc: true
  "linter-eslint": {}
  "linter-flake8": {}
  "linter-jscs": {}
  "linter-ui-default":
    panelHeight: 69
  minimap: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    enableVcsColoring: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".elm.source":
  editor:
    tabLength: 4
".python.regexp.source":
  editor:
    preferredLineLength: 79
".python.source":
  editor:
    preferredLineLength: 79
